.main {
  max-width: var(--sp-sm);
  justify-self: center;
  margin: var(--sp-2);
  display: grid;
  align-content: start;
  gap: var(--sp-4);
}
.main ul {
  padding-left: var(--sp-4);
}

@media (min-width: 636px) {
  .main {
    margin-block-start: var(--sp-X);
  }
}

.main hgroup {
  text-align: center;
}

.title,
.main ul {
  margin: 0;
}

.sub-title {
  font-family: "Noto Sans Rejang";
  font-size: xx-large;
}

.script-area {
  font-family: "Noto Sans Rejang";
  font-size: xx-large;
  background-color: white;
  border: 1px solid var(--c-con-2);
  min-height: 128px;
  padding-inline: var(--sp-2);
  border-radius: var(--sp-1);
  white-space: pre;
}

.roman-area {
  background-color: white;
  font-size: x-large;
  border: 1px solid var(--c-con-2);
  min-height: 128px;
  padding-inline: var(--sp-2);
  border-radius: var(--sp-1);
  white-space: pre;
}

.main form {
  display: grid;
  grid-template-columns: minmax(0, 1fr) auto auto;
  column-gap: var(--sp-4);
}

.input-cluster {
  display: grid;
  grid-template-columns: minmax(0, 1fr) auto;
}

.main form output {
  grid-column: 1 / -1;
}

.footer {
  text-align: center;
}
